@model RegistrationMVCCore.Model.PatientDetailsViewModel

<div class="form-group" style="background-color:orange">
    <div class="col-md-offset-0 col-md-12" style="float:left;background-color:#F7F7F7" >
        <h3 style="width:150px; float:left"> Reassign to </h3>        
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()                   
        <div class="form-group">
            <div class="col-md-offset-1 col-md-5" style="float:left;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.DropDownListFor(model => model.vmPatientTable.OccID, ViewBag.OTList as SelectList, "--OT Name--", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" style="float:left">
            <div class="col-md-offset-2 col-md-2">
                <input type="submit" style="width:65px; float:left" class="btn btn-sm btn-primary btn-block btn-signin" value="Change" />
            </div>
        </div>
}@*end Using*@
    </div>
</div>

