@model RegistrationMVCCore.Model.UserAccount
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4" style="background-color:#F7F7F7; border-radius:6px; margin-left:380px; padding: 20px 25px 30px;">
        <section id="loginForm">
            <h4 style="text-align:center; font:bold; color:#BDBDBD">Login.</h4>
            <img id="profile-img" style="border-radius:150px; height:200px" class="profile-img-card col-md-offset-2 col-md-8" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            
            <form class="form-horizontal" asp-controller="Home" asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8" style="margin-top:20px">
                        <input asp-for="UserName" placeholder="Username" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input asp-for="Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>