@*@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>*@
@*<h1>NOT USING</h1>
<div class="w3-card-4" style="width:300px; margin-top:20px; float:left">
    <div class="panel panel-default " style="border-radius:0px">
        <div class="panel-heading" style="background-color:#2196F3;border-top-left-radius: 0px;
  border-top-right-radius: 0px; color:#F7FFFF;font-size:20px">Client Search&nbsp;<i class="glyphicon glyphicon-search"></i></div>
        <div class="w3-container" style="margin-top:10px; height:55px">
            @using (@Html.BeginForm("Welcome", "Home", FormMethod.Get))
            {
                @Html.TextBox("search", "", new { placeholder = "Search by PPS No.", style = "border-radius:5px; float:left; width:170px; margin-right:3px", @class = "form-control" })<input class="w3-btn w3-light-blue w3-border" type="submit" style="border-radius:5px;color:#FFFFFF !important" value="search" />
            }
        </div>
    </div>
</div>*@
@*<div style="float:left; width:600px;height:500px; margin-top:20px; background-color:rebeccapurple">
        Show details here
    @if (Model.Any())
    {*@
       @*@Html.Partial("_SearchDetails", Model)*@
        @*<h1>Any</h1>
    }
    else
    {
       <h2> Show details here</h2>

    }

    </div>*@