@model ICollection<RegistrationMVCCore.Model.PatientDetailsViewModel>
<div class="container" style="background-color:#F4F4F5; height:500px">
    <section style="width:900px; margin-left:0px">
        <section style="height:50px;width:590px;float:right;margin-left:30px ">
            <ul class="nav nav-tabs" style="background-color:white">
                <li class="active test"><a data-toggle="tab" href="#home">All Therapists</a></li>
            </ul>
            <div class="tab-content">
                <div id="home1" class="tab-pane fade in active">
                    <div class="box" style="width:790px;">
                        <div class="w3-card-4" style="background-color:#FFFFFF; ">
                            @Html.Partial("_DeleteOT", Model)
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <h5>Remove OT</h5>
    <h6>*All patients must be reassigned first</h6>
</div>

@section scripts
{
    <script>
        //alert("Hello ");
    /**********Reassign Patient**********/
        function reassignPatient12(patientId) {
        //alert("Hello ");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Therapist_Patient_Details")',
                data: { id: patientId },
                success: function (data) {
                $('#NoteDetail').hide();
                $('#AddNoteDetail').hide();
                $('#TaskDetail').hide();
                $('#Detail1').hide();
                $('#ReassignPatientDetail').html(data);
                $('#ReassignPatientDetail').fadeIn("slow");
                },
                error: function (data) {
                alert("Error ");
                $('#ReassignPatientDetail').fadeIn("slow");
                $('#ReassignPatientDetail').html('<h3>Error in retrieval of Details(Reassing Patient) </h3>');
                }
                });
        }
        function reassignPatient1(patientId) {
            //alert("Hello ");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Therapist_Patient_Details")',
                data: { id: patientId },
                success: function (data) {
                        //alert("Show actors2 " + patientId);
                    window.location = '/Home/Therapist_Patient_Details_For_Deleting/' + patientId;
                        //$('#Detail').hide();
                        //$('#Detail2').hide();
                        //$('#Detail1').hide();
                        //$('#Detail3').hide();
                        //$('#Detail').html(data);
                        //$('#Detail').fadeIn("slow");
                },
                error: function (data) {
                    alert("Error ");
                    $('#ReassignPatientDetail').fadeIn("slow");
                    $('#ReassignPatientDetail').html('<h3>Error in retrieval of Details(Reassing Patient) </h3>');
                }
            });
        }
    </script>
}

